<div class="wrapper">
    <%= include('sidebar') %>
    <aside id="content-wrapper" class="right-side">
        <section class="content">
            <div class="row">
                <% _.each([1,2,3,4,5,6,7,8,9], function(i) { %>
                    <%= include('widgets/box', {rank: i}) %>
                <% }) %>
            </div>
        </section>
    </aside>
</div>