<html>
    <head>
        <title><%=title%></title>
        <link href="css/style.css" rel="stylesheet"/>
        
        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="plugins/startbootstrap-freelancer-1.0.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="plugins/startbootstrap-freelancer-1.0.3/css/freelancer.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="plugins/startbootstrap-freelancer-1.0.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body >
    <%= include('navbar') %>
    <%= include('content') %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="plugins/underscore/underscore-min.js"></script>
        <script src="plugins/backbone/backbone-min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="plugins/startbootstrap-freelancer-1.0.3/js/bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="plugins/startbootstrap-freelancer-1.0.3/js/freelancer.js"></script>
    </body >
</html>