<html>
    <head>
        <title><%=title%></title>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Own stylesheet -->
        <link href="css/style.css" rel="stylesheet"/>
        
        <!-- Bootstrap 3.0.2 -->
        <link href="plugins/AdminLTE/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Font Awesome -->
        <link href="plugins/AdminLTE/css/font-awesome.min.css" rel="stylesheet"/>

        <!-- Theme CSS -->
        <link id="base-style" href="plugins/AdminLTE/css/AdminLTE.css" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body class="skin-black">
        <%= include('navbar') %>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%= include('content') %>
        </div>

        <!-- Jquery 2.1.4 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Underscore -->
        <script src="plugins/underscore/underscore-min.js"></script>
        <!-- Backbone -->
        <script src="plugins/backbone/backbone-min.js"></script>
        <!-- Backbone LocalStorage -->
        <script src="plugins/backbone.localStorage/backbone.localStorage.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="plugins/AdminLTE/js/bootstrap.min.js"></script>

        <!-- Socket.io (required by Streamr-client) -->
        <script src="plugins/socket.io/socket.io.js"></script>

        <!-- Streamr Client -->
        <script src="plugins/streamr-client/streamr-client.js"></script>

        <!-- Own JS -->
        <script src="js/global.js"></script>

        <!-- App -->

        <!-- Namespace -->
        <script src="js/app/namespace.js"></script>

        <!-- Models -->
        <script src="js/app/models/dashboard-item.js"></script>
        <script src="js/app/models/dashboard.js"></script>

        <!-- Collections -->
        <script src="js/app/collections/dashboard-item-collection.js"></script>

        <!-- Templates -->
        <script src="js/app/templates/templates.js"></script>

        <!-- Views -->
        <script src="js/app/views/search-bar-view.js"></script>
        <script src="js/app/views/dashboard-item-view.js"></script>
        <script src="js/app/views/dashboard-view.js"></script>

        <script>
            var baseUrl = "<%= baseUrl %>"
            var dashboard = new Strends.Views.DashboardView({
                model: new Strends.Models.Dashboard({streamId:"7v6Wyy8wTmiZ7nKNjDMSyA"}),
                el: "#content-wrapper .content",
                searchBarEl: ".sidebar .sidebar-form"
            })
        </script>

    </body >
</html>