<aside id="strends-sidebar" class="left-side sidebar-offcanvas">
    <section class="sidebar" style="overflow: hidden; width: auto; height: 220px;">

        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i><span>Edit</span><i class="fa pull-right fa-angle-left"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <form class="sidebar-form search-form">

                        </form>
                    </li>
                    <li class="text-center">
                        <span class="start-streaming-btn btn btn-sm btn-primary">Start Streaming!</span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="<%= baseUrl %>">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
        </ul>
    </section>
</aside>