<aside class="left-side sidebar-offcanvasa" style="min-height: 2023px;">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 220px;"><section class="sidebar" style="overflow: hidden; width: auto; height: 220px;">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="active">
                <!-- TODO: Change to dynamic URL -->
                <a href="strends">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </section><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 91.8406px; background: rgba(0, 0, 0, 0.2);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
</aside>