<aside id="strends-sidebar" class="left-side sidebar-offcanvas">
    <section class="sidebar" style="overflow: hidden; width: auto; height: 220px;">

        <ul class="sidebar-menu">
            <li id="strends-search" class="treeview">

            </li>
            <li>
                <a href="<%= baseUrl %>">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span>
                </a>
            </li>
        </ul>
    </section>
</aside>