body {
    width: 100%;
    height: 100%;
}

#strends-navbar .logo:first-letter {
    text-transform:capitalize;
}

#strends-sidebar {
    height: 100%;
}

#strends-sidebar .sidebar-form.search-form {
    margin: 0;
    padding: 10px;
}

#strends-sidebar .sidebar-menu ul li a.streaming-btn-container {
    padding-bottom: 10px;
}

#strends-sidebar .sidebar-menu ul li .start-streaming-btn {
    margin-left: -25px;
    margin-right: 5px;
}

#search-input {
    color: #F4F4F4;
}

#content-wrapper section.content {
}

#content-wrapper.right-side.content-centered {
    margin-left: 110px;
    margin-right: 110px;
}

#content-wrapper .dashboard-item {
    height: 170px;
    max-height: 170px;
}

#content-wrapper .dashboard-item .rank {
    font-size: 25px;
    margin-left: 5px;
}

#content-wrapper .dashboard-item .inner {
    height: 100px;
}

#content-wrapper .dashboard-item .title {
    margin-top: 10px;
    margin-left: 27px;
}

#content-wrapper .dashboard-item .title h1 {
    font-size: 44px;
}

#content-wrapper .dashboard-item .tweet-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content-wrapper .dashboard-item .tweet-container a {
    color: #FFF;
}

#content-wrapper .dashboard-item .remove-di-button {
    font-size: 20px;
}

#content-wrapper .dashboard-item .edit-button {
    font-size: 17px;
}

#content-wrapper .dashboard-item .edit-button,
#content-wrapper .dashboard-item .remove-di-button {
    margin-right: 4px;
    margin-top: 3px;
    color: rgba(245,245,245,0.5);
    cursor: pointer;
}

#content-wrapper .dashboard-item .remove-di-button:active,
#content-wrapper .dashboard-item .remove-di-button:hover,
#content-wrapper .dashboard-item .remove-di-button:focus,
#content-wrapper .dashboard-item .edit-button:active,
#content-wrapper .dashboard-item .edit-button:hover,
#content-wrapper .dashboard-item .edit-button:focus{
    color: rgba(245,245,245,1);
}

#content-wrapper .dashboard-item.edit span.word {
    display: none;
}

#content-wrapper .dashboard-item:not(.edit) span.word-input {
    display:none;
}

#content-wrapper .dashboard-item span.word-input input {
    font-size: 60%;
    margin-top: -5px;
    width: 65%;
}
